<div class="row">
    <h1>Educacion formal</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h3>Licenciatura en Ciencias Politicas</h3> 
                <h4>(2020-Actualidad) Universidad Catolica Argentina</h4>
            </li>
            <li>
                <h3>Licenciatura en Relaciones Internacionales</h3>
                <h4>(2020-Actualidad) Universidad Catolica Argentina</h4>
            </li>
            <li>
                <h3>Diplomatura Internacional en Coaching</h3>
                <h4>(2018) Instituto Argentino de Innovacion Social</h4>
            </li>
            <li>
                <h3>Diplomatura Internacional en Recursos Humanos</h3>
                <h4>(2017) Instituto Argentino de Innovacion Social</h4>
            </li>
            <li>
                <h3>Especialidad en Gobernabilidad, Gerencia Politica y Gestion Publica</h3>
                <h4>(2016) Universidad George Washington, Universidad Catolica de Cordabo, Universidad Catolica Argentina</h4>
            </li>
            <li>
                <h3>Otros</h3>
                <h4>Instituto Secundario con Orientacion Contable (2013), Tecnico Electricista (2012), Especialidad en Marketing Digital</h4>
            </li>
        </ul>
    </div>
</div>