<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h3 id="fraseapertura">No tengas miedo de intentar algo nuevo!</h3>
        <p id="parrafo sobre mi">Es la frase que intento recordar cada vez que voy en busca de lograr un nuevo objetivo. Hola! Mi nombre es Sergio, y mi intención es que conozcas una parte de mi a través de este medio. Tal vez, sea solo el inicio para que comencemos un nuevo proyecto juntos ¡Quedamos en contacto! </p>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <h5 id="apellidoynombre">Dreher, Sergio Leonardo Ramon</h5>
        <p id="tituloprofesional">Desarrollador web Full Stack Junior</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img id="fotopersonal" src="../../../assets/image.jpg" 
        class="img-fluid">
    </div>

</div>