<div class="row">
    <h1>Habilidades personales (hard & soft)</h1>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'Trabajo en equipo'"
        [titleFontSize]="'15'"
        [showSubtitle]="false"
        [percent]="80"
        [showUnits]="false"
        [radius]="70"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
    >
        </circle-progress>
        <p>✔ Habilidad de trabajar colaborativamente para alcanzar un objetivo. Implica comprender que está bien delegar ciertas tareas (confiando en los demás y sus habilidades) y asumir responsabilidades delegadas a uno por el equipo. </p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'Resolucion de problemas'"
        [titleFontSize]="'15'"
        [showSubtitle]="false"
        [percent]="90"
        [showUnits]="false"
        [radius]="70"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
    >
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'INGLES'"
        [subtitle]="'progreso'"
        [percent]="10"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
    >
        </circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'INGLES'"
        [subtitle]="'progreso'"
        [percent]="10"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
    >
        </circle-progress>
    </div>

    <div class="text-center col-sm-12 col-md-12 col-lg-12">
        <circle-progress
        [title]="'INGLES'"
        [subtitle]="'progreso'"
        [percent]="10"
        [showUnits]="false"
        [radius]="60"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
    >
        </circle-progress>
    </div>
</div>