.row{
    background-color: #cfd8dc;
}

footer{
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-style: oblique;
    box-shadow: 2px 2px 10px gray;
    text-align:center;
    padding: 20px;
    max-height: 130px;
}

p{
    text-align: left;
}

img{
    max-width: 80%;
    max-height: 80%;
    align-items:flex-end
}
