<div class="row">
    <footer>
        <div class="col-sm-2 col-md-2 col-lg-2">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/icono.webp">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <p>Dreher, Sergio Leonardo Ramon</p>
            <p>Argentina Programa || #YoProgramo </p>
            <p>Paraná. Entre Ríos</p>
        </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="../../../assets/ArgProgPNG.png">
        </div>
    </footer>
</div>