<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Empleado de comercio</h1> 
                <h3>(2020-Actualidad) Comercio mayorista y minorista de materiales electricos</h3>
                <p>Funciones: atencion al publico, despacho de mercaderia, confeccion de presupuestos, facturacion.</p> 
            </li>
            <li>
                <h1>Socio creador</h1>
                <h3>(2013-2020) Pyme prestadora de servicios generales para el hogar</h3>
                <p>Funciones: Gestion de agenda, trabajos generales, facturacion, control de stock y compra de materiales, confeccion de presupuestos.</p>
            </li>
        </ul>
    </div>
</div>