<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h3>Empleado de comercio</h3> 
                <h4>(2020-Actualidad) Comercio mayorista y minorista de materiales electricos</h4>
                <p>Funciones: atencion al publico, despacho de mercaderia, confeccion de presupuestos, facturacion.</p> 
            </li>
            <li>
                <h3>Socio</h3>
                <h4>(2013-2020) SyS Pyme prestadora de servicios generales para el hogar</h4>
                <p>Funciones: Gestion de agenda, trabajos generales, facturacion, control de stock y compra de materiales, confeccion de presupuestos.</p>
            </li>
            <li>
                <h3>Otras</h3>
                <h4>Atención al público en comercio familiar. Atencion al publico y confeccion de planillas contables en Kiosco escolar. Organización de eventos: "Paraná Debate", "Modelo de Naciones Unidas Paraná", charlas universitarias.</h4>
            </li>
        </ul>
    </div>
</div>