<div class="row">
    <div class="container">
        <div class="col-sm-8 col-md-8 col-lg-8 logoprograma">
            <a href=""><img src="../../../assets/ArgProgPNG.png" id="logoprograma"></a>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <a href=""><img src="../../../assets/github.png" id="logoredes"></a>
            <a href=""><img src="../../../assets/Linkedin.png" id="logoredes"></a>
            <a href=""><img src="../../../assets/facebook.png" id="logoredes"></a>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-dark" (click)="login()">Log In</button>
        </div>
    </div>  
</div>