<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-10 col-lg-10 encabezado">
            <h3>Inicios en la plataforma WIX</h3>
            <p>Estando la posibilidad de que esta sección sea cuestionable, igualmente decido colocarla ya que representa mis inicios en este mundo, el disparador de mi curiosidad por la programación.</p>
        </div>

        <div class="col-sm-8 col-md-10 col-lg-10 imagen">
        <img src="../../../assets/logowix.png" class="img-fluid">
        </div>
    </div>
</div>